@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Look at my skateboard</h1>
    <p class="lead">Look at my skateboard is a webite where you can show off your skateboard and view other peoples' cool skateboards.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Killer flip!</h2>

        <img src="~/images/flip.jpg" width="250" />
        <p>
            Drop in. Pump round the bowl. Launch out. Flip that shit!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Big-ass skateboard</h2>
        <img src="~/images/big.jpg" width="250" />
        <p>Wouldn't you love to have a go on this board?</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Downhill</h2>
        <img src="~/images/orangewheels.jpg" width="250" />
        <p>Sometimes all you need is a set of big wheels and a steep hill to get your kicks.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>